<template name="helpbars">
	<div id="helpbars">
		{{#if title}}
			{{#with manageTitle}}
			<div class="col-xs-12 helpbar titlebar">
				{{> Template.dynamic template=title data=data}}
			</div>
			{{/with}}
		{{/if}}

		<div class="col-xs-12 helpbar gotopmore">
			{{#if loadmore}}
				{{#with detectFirstPage}}
					{{#if hasMoreLinks}}
						<button class="load-more">
							{{#if pageReady}}
							<i class="fa fa-refresh"></i> Carica altri elementi
							{{else}}
							<i class="fa fa-refresh fa-spin"></i> Sto caricando...
							{{/if}}
						</button>
					{{/if}}
				{{/with}}
			{{/if}}

			{{#if gotop}}
			<button class="go-top">
				<i class="fa fa-arrow-up"></i>
			</button>
			{{/if}}
		</div>

	</div>
</template>

<template name="titleLastPosts">
	<h2 class="{{getGender}}">Ultimi post di
		<span class="username">{{username}}</span>
	</h2>
</template>

<template name="titleEvent">
	<h2>{{titleEvent}}</h2>
</template>

<template name="postCategory">
	{{#if category}}
	<h2>{{category}}</h2>
	{{/if}}
</template>