<template name="infoClose">
	<h1>{{title}}</h1>
	{{#unless hideClose}}
	<span class="buttons fa-stack fa-lg" id="info-close">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-times-circle fa-stack-2x fa-inverse"></i>
	</span>
	{{/unless}}
</template>

<template name="categoryList">
	<div class="md-info md-show list">
		{{> infoClose title="Categorie salvate"}}
		<div class="wrapper-info list-wrapper">
			<ul class="item-list">
				{{#each categories}}
					{{> categoryItem}}
				{{else}}
					{{> emptyLi}}
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="categoryItem">
	<li>
		<span>{{this}}</span>
		<i class="fa fa-trash"></i>
	</li>
</template>

<template name="geotagList">
	<div class="md-info md-show list">
		{{> infoClose title="Sei in uno di questi posti?"}}
		<div class="wrapper-info list-wrapper">
			<ul class="item-list">
				{{#each geotags}}
					{{> geotagItem data=this position=../position save=../saveFly}}
				{{else}}
					{{> emptyLi}}
				{{/each}}
			</ul>
			<ul class="item-list buttons-dial">
				<li>
					<button id="just-position" class="red">
						No, imposta solo la posizione
					</button>
				</li>
			</ul>
		</div>
	</div>
</template>

<template name="geotagItem">
	<li>
		{{#if itsMine data}}
			<i class="fa fa-trash" data-id="{{data._id}}"></i>
		{{else}}
			<i class="fa fa-map-marker"></i>
		{{/if}}
		<span data-id="{{data._id}}" class="apply-tag">{{data.tag}}</span>
		<small>dist. {{distance data.lat data.lng}}m</small>
	</li>
</template>

<template name="currentOffline">
	<div class="md-info md-show list error">
		{{> infoClose title=infoTitle hideClose=true}}
		<div class="wrapper-info list-wrapper">
			<ul class="item-list">
				<li>
					<i class="fa fa-exclamation-triangle"></i>
					<span>In questo momento non hai una connessione Internet attiva.</span>
				</li>
			</ul>
		</div>
	</div>
</template>

<template name="infoList">
	<div class="md-info md-show list {{infoClass}}">
		{{> infoClose title=infoTitle}}
		<div class="wrapper-info list-wrapper">
			<ul class="item-list">
				{{#each items}}
					{{> infoItem}}
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="infoItem">
	<li>
		<i class="fa {{icon}}"></i>
		<span data-highlight="{{id}}">{{{msg}}}</span>
	</li>
</template>

<template name="likeUnlikeList">
	<div class="md-info md-show list">
		{{> infoClose title="Pareri su questo post:"}}
		<div class="wrapper-info list-wrapper">
			{{#if hasLikers}}
			<ul class="item-list">
				<h2 class="like">
					Sono d'accordo...
					<i class="fa fa-thumbs-up">{{hasLikers}}</i>
				</h2>
				{{#each likers}}
					{{> likeUnlikeItem}}
				{{/each}}
			</ul>
			{{/if}}
			{{#if hasUnlikers}}
			<ul class="item-list">
				<h2 class="unlike">
					Non sono d'accordo...
					<i class="fa fa-thumbs-down">{{hasUnlikers}}</i>
				</h2>
				{{#each unlikers}}
					{{> likeUnlikeItem}}
				{{/each}}
			</ul>
			{{/if}}
			{{#if noOpinion}}
			<ul class="item-list">
				<li>Clicca su <i class="fa fa-thumbs-up"></i> e <i class="fa fa-thumbs-down"></i> per essere tu a dare il primo parere!</li>
			</ul>
			{{/if}}
		</div>
	</div>
</template>

<template name="likeUnlikeItem">
	<li class="{{statusGender}}">
		<div class="li-wrapper">
			<a href="{{pathFor 'userProfile'}}">
				{{> avatarImage data=this online=this.profile.online}}
				<div class="username">
					{{username}}
					<span>{{profile.city}}</span>
				</div>
			</a>
		</div>
	</li>
</template>

<template name="infoConfirm">
	<div class="md-info md-show list">
		{{> infoClose title=context.infoTitle}}
		<div class="wrapper-info list-wrapper">
			{{#if context.infoText}}
				<p>{{{context.infoText}}}</p>
			{{/if}}
			<ul class="item-list buttons-dial">
				<li>
					<button id="confirm-yes" class="green">Si, procedi</button>
				</li>
				<li>
					<button id="confirm-no" class="red">No, annulla</button>
				</li>
			</ul>
		</div>
	</div>
</template>

<template name="infoActions">
	<div class="md-info md-show list">
		{{> infoClose title=context.infoTitle}}
		<div class="wrapper-info list-wrapper">
			{{#if context.infoText}}
				<p>{{{context.infoText}}}</p>
			{{/if}}
			<ul class="item-list buttons-dial">
				<li>
					<button id="edit-post" class="blue">Modifica</button>
				</li>
				<li>
					<button id="delete-post" class="red">Elimina</button>
				</li>
			</ul>
		</div>
	</div>
</template>

<template name="infoEdit">
	<div class="md-info md-show list">
		{{> infoClose title="Modifica il testo"}}
		<div class="wrapper-info list-wrapper">
			<form id="form-edit">
				<ul class="item-list text">
					<li>
						<textarea id="text" class="autosize" placeholder="Modifica il testo...">{{context.text}}</textarea>
					</li>
				</ul>
				<ul class="item-list buttons-dial">
					<li>
						<button type="submit" data-animation="loading" class="gray">
							Salva e chiudi
						</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</template>

<template name="blockedList">
	<div class="md-info md-show list">
		{{> infoClose title="Utenti bloccati"}}
		<div class="wrapper-info list-wrapper">
			<ul class="item-list">
				{{#each blocked}}
					{{> blockedItem this}}
				{{else}}
					{{> emptyLi}}
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="blockedItem">
	{{#with getUserAuthor this}}
	<li class="{{statusGender}} blocked">
		<div class="li-wrapper">
			<a href="{{pathFor 'userProfile'}}">
				{{> avatarImage data=this online=this.profile.online}}
				<div class="username">
					{{username}}
					<span>{{profile.city}}</span>
				</div>
			</a>
			<i class="fa fa-trash"></i>
		</div>
	</li>
	{{/with}}
</template>