<template name="messagesFrom">
	<li class="{{statusGender}}">
		{{#with messagePath}}
		<div class="li-wrapper">
			<a href="{{pathFor 'readMessage'}}" data-action="{{setOpenClose}}">
				{{> avatarImage data=this online=true}}
				<div class="username">
					<small>{{ada}}:</small>
					{{username}}
					<span class="message">{{{shortText text 50 true}}}</span>
					<span class="time">{{timeAgo}}</span>
					{{#unless isSent}}
						{{#if countUnread}}
						<small class="count">{{countUnread}}</small>
						{{/if}}
					{{/unless}}
				</div>
			</a>
			{{#if isSent}}
			<div class="right-aligned">
				<i class="fa {{getIcon}}"></i>
			</div>
			{{else}}
			<div class="action">
				{{#with formatChatId}}
				<a href="{{pathFor 'readMessage'}}" class="reply" data-action="close">
					<i class="fa fa-folder-open"></i>
				</a>
				{{/with}}
				<button class="trash" id="delete-message">
					<i class="fa fa-trash"></i>
				</button>
				<button class="block" id="block-user">
					<span class="fa-stack fa-lg">
						<i class="fa fa-user fa-stack-1x"></i>
						<i class="fa fa-ban fa-stack-1x text-danger"></i>
					</span>
				</button>
			</div>
			{{/if}}
		</div>
		{{/with}}
	</li>
</template>