<template name="navbarTop">
	<nav class="bar bar-nav">
		<h1>{{printTitle}}</h1>
		<div class="navbar-btn left toggle-menu">
			{{> counterNotification}}
			<i class="fa fa-lg fa-bars"></i>
		</div>
		<div class="navbar-btn right toggle-users">
			{{> onlineCounter}}
			<i class="fa fa-lg fa-user"></i>
		</div>
	</nav>
</template>

<template name="counterNotification">
	{{#if totNotifications}}
		{{#with totNotifications}}
			<span class="{{class}}">{{total}}</span>
		{{/with}}
	{{/if}}
</template>

<template name="onlineCounter">
	<span class="appear online">{{getOnlineUsers}}</span>
</template>