<template name="overlayWrapper">
	{{#if hasPopup}} {{> popupWrapper}} {{/if}}
	{{> bubbleWrapper}}
	<div class="md-overlay"></div>
</template>

<template name="popupWrapper">
	<div class="md-popup md-show">
		<div class="animation">
			<div class="md-message animated bounceIn">
				<button type="button" class="close">&times;</button>
				{{#with targetUser}}
				<p class="{{gender}}">Scrivi a: <span class="username">{{username}}</span></p>
				<form id="message-form" role="form" class="form-row message">
					<textarea id="message-text"></textarea>
					<button type="submit" class="send-message">Invia messaggio</button>
				</form>
				{{/with}}
			</div>
		</div>
	</div>
</template>

<template name="bubbleWrapper">
	<div class="md-bubble">
		<div class="animation">
			<div class="md-notification message hide">
				<a href="" class="status-busy male">
					<img src="/img/redbaron76.jpg" alt="">
					<p><em class="username">redbaron76</em> ti ha inviato un nuovo messaggio privato! <span>3s</span></p>
				</a>
				<button type="button" class="close">&times;</button>
			</div>
			<div class="md-notification vote hide">
				<a href="" class="status-busy male">
					<img src="/img/redbaron76.jpg" alt="">
					<p><em class="username">redbaron76</em> ti ha votato! <span>10s</span></p>
				</a>
				<button type="button" class="close">&times;</button>
			</div>
		</div>
	</div>
</template>