<template name="overlayWrapper">
	{{> bubbleWrapper}}
	{{> infoWrapper}}
	{{> mapWrapper}}
	{{> popupWrapper}}
	<div class="md-overlay"></div>
</template>

<template name="bubbleWrapper">
	{{#if hasBubble}}
		{{#with hasBubble}}
			{{> Template.dynamic template=template}}
		{{/with}}
	{{/if}}
</template>

<template name="infoWrapper">
	{{#if hasInfo}}
		{{#with hasInfo}}
			{{> Template.dynamic template=template}}
		{{/with}}
	{{/if}}
</template>

<template name="mapWrapper">
	{{#if hasMap}}
		{{#with hasMap}}
			<div id="{{wrapper}}">
				<span class="fa-stack fa-lg" id="map-set">
					<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fa fa-check-circle fa-stack-2x"></i>
				</span>
				<span class="fa-stack fa-lg" id="map-close">
					<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fa fa-times-circle fa-stack-2x"></i>
				</span>
				<span class="fa-stack fa-lg" id="map-center">
					<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fa fa-bullseye fa-stack-2x"></i>
				</span>
			</div>
		{{/with}}
	{{/if}}
</template>

<template name="popupWrapper">
	{{#if hasPopup}}
		{{#with hasPopup}}
			{{> Template.dynamic template=template}}
		{{/with}}
	{{/if}}
</template>

