<template name="postsList">
	{{#with detectFirstBlock}}
		{{#if postDisplay}}

		<div class="row">
			<div class="col-xs-12 posts">
				{{#each posts}}
					{{> postArticle}}
				{{/each}}
			</div>
		</div>

		{{else}}
			<div class="row relative">
				{{> spinning}}
			</div>
		{{/if}}
	{{/with}}
</template>

<template name="postArticle">
	{{#with joinWithCounters}}
	<article>
		<a href="{{pathFor 'singlePost'}}">
			{{#if showHeader}}
			<header class="article {{statusGender}}">
				<a href="{{pathFor 'singlePost'}}">
					{{> avatarImage data=this online=true}}
					<div class="username">
						<small>{{usern}}</small>
						{{#if category}}
							<h5>{{{category}}}</h5>
						{{/if}}
					</div>
				</a>
			</header>
			{{else}}
				{{#if category}}
					<header>
						<h5>{{{category}}}</h5>
					</header>
				{{/if}}
			{{/if}}

			{{#if position.tag}}
				<p class="location">
					{{position.tag}} {{onlyCity position.location}}
				</p>
			{{/if}}

			{{#if imageUrl}}
				<div class="thumbimg">
					<img src="{{imageUrl}}" class="ri" onload="Bisia.Img.checkPortrait(this)">
				</div>
			{{/if}}

			{{#if text}}
				<p>{{{shortText text 300 true}}}</p>
			{{/if}}

			{{#unless position.tag}}
				{{#if position.location}}
					<p class="location">
						{{position.location}}
					</p>
				{{/if}}
			{{/unless}}
		</a>
		<footer>
			{{> timeDelete data=this look="dateTimePost"}}
			<span class="counter">
				<button class="do-comment">
					<i class="fa fa-comment"></i><big>{{totComments}}</big>
				</button>
				<button class="do-like {{iLike}}">
					<i class="fa fa-thumbs-up"></i><big>{{totLikes}}</big>
				</button>
				<button class="do-unlike {{iUnlike}}">
					<i class="fa fa-thumbs-down"></i><big>{{totUnlikes}}</big>
				</button>
			</span>
		</footer>
	</article>
	{{/with}}
</template>