<template name="sidebarMenu">
	<aside class="sidebar left bisia-menu">
		<header>
			<a href="{{pathFor 'lastSignupList'}}" data-action="close" class="counter signed">
				{{getPublishedCount 'totUsers'}} <span>iscritti</span>
			</a>
			<a href="{{pathFor 'notificationList'}}" data-action="close" class="noty">
				<i class="fa fa-bell"></i>
				{{#if totNotifies}}
					<span>{{totNotifies}}</span>
				{{/if}}
			</a>
			<a href="{{pathFor 'homePage'}}" data-action="close">
				{{> logoBisiaSvg}}
			</a>
		</header>
		{{#with currentUser}}
		<div class="profile-intro {{statusGender}}">
			<a href="#" data-action="open" class="profile-wrapper">
				{{> avatarImage data=this online=false}}
				<div class="username">
					{{username}}
					<span>{{getCity}}</span>
				</div>
			</a>
			<div class="caret-right username"></div>
			<div class="action">
				<a href="{{pathFor 'userProfile'}}" data-action="close" class="profile-btn">
					<i class="fa fa-user"></i>
				</a>
				<button class="post-btn" id="new-post">
					<i class="fa fa-pencil"></i>
				</button>
				<button class="post-btn" id="new-position">
					<i class="fa fa-map-marker"></i>
				</button>
			</div>
		</div>
		<div class="menu-list">
			<ul>
				{{#each menuItems}}
					{{> menuItem}}
				{{/each}}
				<li class="spacer">
					<a href="{{pathFor 'userSettings'}}" data-action="close">
						<i class="fa fa-lg fa-cog"></i>
						Impostazioni account
					</a>
				</li>
				<li>
					<a href="#" id="logout">
						<i class="fa fa-lg fa-sign-out"></i>
						Esci da Bisia
					</a>
				</li>
			</ul>
			{{> deviceSwitcher}}
		</div>
		{{/with}}
	</aside>
</template>

<template name="menuItem">
	<li class="{{spacer}}">
		{{#if path}}
			<a href="{{pathFor path}}" data-action="close">
				<i class="fa fa-lg {{icon}} {{hlClass}}"></i>
				{{{text}}}
				{{> notificationCount this}}
			</a>
		{{else}}
			<a href="#" data-action="{{action}}">
				<i class="fa fa-lg {{icon}} {{hlClass}}"></i>
				{{{text}}}
				{{> notificationCount this}}
			</a>
		{{/if}}
	</li>
</template>

<template name="notificationCount">
	{{#if newCount}}
		<span class="{{nClass}}">{{newCount}}</span>
	{{else}}
		{{#if counter}}
			<span>{{counter}}</span>
		{{/if}}
	{{/if}}
</template>