<template name="sidebarMenu">
	<aside class="sidebar left bisia-menu">
		<header>
			<div class="counter signed">{{getPublishedCount 'totUsers'}} <span>iscritti</span></div>
			<a href="{{pathFor 'homePage'}}" data-action="close">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
	 				width="402.000000pt" height="401.000000pt" viewBox="0 0 402.000000 401.000000"
	 				preserveAspectRatio="xMidYMid meet">
					<g transform="translate(0.000000,401.000000) scale(0.100000,-0.100000)">
					<path d="M1770 3990 c-461 -56 -854 -250 -1184 -584 -383 -388 -576 -858 -576
					-1402 0 -459 153 -901 429 -1238 79 -96 288 -298 382 -368 328 -246 691 -371
					1115 -385 525 -17 956 128 1353 457 331 274 559 623 661 1012 99 377 87 792
					-31 1152 -90 276 -239 520 -453 744 -313 327 -677 524 -1111 598 -107 19 -474
					27 -585 14z m390 -50 c544 -39 994 -272 1356 -703 297 -353 444 -762 444
					-1236 0 -300 -67 -597 -192 -844 -75 -150 -127 -229 -147 -223 -9 3 -47 12
					-86 21 -38 8 -80 18 -92 20 l-23 5 0 1055 0 1055 -375 0 -375 0 0 -200 0 -200
					-80 0 -80 0 0 478 c0 502 -2 522 -43 506 -16 -6 -17 -41 -17 -495 l0 -489
					-200 0 -200 0 0 563 c0 309 -3 572 -6 585 -5 16 -13 22 -28 20 -21 -3 -21 -4
					-24 -385 l-2 -383 -185 0 -185 0 -2 283 c-3 274 -4 282 -23 282 -19 0 -20 -8
					-23 -282 l-2 -283 -151 0 -152 0 -153 -81 -154 -80 0 -164 0 -164 -92 -29
					c-51 -17 -103 -33 -115 -36 -22 -7 -22 -7 -25 139 l-3 145 -97 -47 -98 -47 -2
					-895 -3 -894 -55 -13 c-30 -7 -58 -13 -63 -14 -12 0 -90 126 -145 236 -133
					266 -192 529 -192 864 0 337 53 569 195 855 189 380 499 690 880 880 265 132
					497 188 840 203 17 1 95 -3 175 -8z"/>
					</g>
				</svg>
			</a>
		</header>
		{{#with currentUser}}
		<div class="profile-intro {{statusGender}}">
			<a href="{{getProfileUrl}}" data-action="close">
				{{> avatarImage}}
				<div class="username">
					{{username}}
					<span>{{profile.city}}</span>
				</div>
			</a>
		</div>
		<div class="menu-list{{addClass 'hover'}}">
			<ul>
				<li>
					<a href="" data-action="close">
						<i class="fa fa-lg fa-envelope"></i>
						Messaggi ricevuti
						<span class="new">3</span>
					</a>
				</li>
				<li>
					<a href="{{pathFor 'visitsList'}}" data-action="close">
						<i class="fa fa-lg fa-star"></i>
						Ultime visite ricevute
						<span class="live">{{getPublishedCount 'newVisits'}}</span>
					</a>
				</li>
				<li>
					<a href="{{pathFor 'friendsList'}}" data-action="close">
						<i class="fa fa-lg fa-child"></i>
						Dicono di conoscerti
						<span>{{getPublishedCount 'newFriends'}}</span>
					</a>
				</li>
				<li>
					<a href="{{pathFor 'votesList'}}" data-action="close">
						<i class="fa fa-lg fa-thumbs-up"></i>
						Voti ricevuti oggi
						<span>{{getPublishedCount 'newVotes'}}</span>
					</a>
				</li>
				<li class="spacer">
					<a href="{{pathFor 'userSettings'}}" data-action="close">
						<i class="fa fa-lg fa-cog"></i>
						Impostazioni account
					</a>
				</li>
				<li>
					<a href="#" id="logout">
						<i class="fa fa-lg fa-sign-out"></i>
						Esci da Bisia
					</a>
				</li>
			</ul>
		</div>
		{{/with}}
	</aside>
</template>