<template name="sidebarUsers">
	<aside class="sidebar right online-users">
		<header>
			<div class="counter users">{{totOnlineUsers}} <span>online</span></div>
			<a href="{{pathFor 'searchUsers'}}" data-action="close" class="noty">
				<i class="fa fa-search"></i>
			</a>
			<form action="#">
				<input type="search" id="filter-nickname" placeholder="Filtra nick in lista...">
			</form>
		</header>

		<div class="users-list">
			{{#if usersReady}}
			<ul id="usersList">
				{{#each onlineUsers}}
					{{> onlineUser}}
				{{/each}}
			</ul>
			{{else}}
				{{> spinning}}
			{{/if}}
		</div>

	</aside>
</template>

<template name="onlineUser">
	<li class="{{statusGender}}" data-username="{{lowercase username}}">
		<a href="{{pathFor 'userProfile'}}" data-action="{{setOpenClose}}">
			{{> avatarImage data=this online=false}}
			<div class="username">
				{{username}}
				{{#if isInChat}}
					<span class="chat">è in Bisia-Chat!</span>
				{{else}}
					<span>{{getCity}}</span>
				{{/if}}
			</div>
		</a>
		<div class="caret-right"></div>

		{{#unless itsMe}}
			<div class="action">
				<a href="{{pathFor 'userProfile'}}" class="user profile-user" data-action="close">
					<i class="fa fa-user"></i>
				</a>
				<button class="envelope write-message">
					<i class="fa fa-envelope"></i>
				</button>
				<button class="thumb send-vote">
					<i class="fa fa-thumbs-up"></i>
				</button>
			</div>
		{{/unless}}
	</li>
</template>