#login {

	.logo {
		height: 189px;
		background-color: $bisia;
		position: relative;

		#logo-bisia {
			width: 100px;
			display: block;
			margin: 18px auto 0 auto;
		}

		.counter {
			background-color: rgba(42, 45, 54, .7);
			border-radius: 5px;
			font-size: 12px;
			color: $white;
			width: 55px;
			padding: 5px;
			text-align: center;

			span {
				display: block;
				color: $bisia;
				font-family: $font-semibold
				font-size: .6em;
				text-transform: uppercase;
			}

			&.signed {
				absolute: left 15px bottom 20px;
			}

			&.online {
				absolute: right 15px bottom 20px;
			}
		}

		h1 {
			margin-top: 11px !important;
			text-align: center;
		}
	}
	.social {
		height: 95px;
		background-color: $gray-bg;
		text-align: center;

		a {
			color: $white-text;
			// display: inline-block;
			line-height: 95px;
			font-size: 26px;
			vertical-align: middle;
			.fa-facebook-square {
				background-color: $white;
				color: $fblue;
				width: 44px;
				line-height: 43px;
				border-radius: 10px;
				vertical-align: middle;
				margin: 0 0 5px 6px;
			}
			undecorate();
			span {
				line-height: 22px;
				margin: 0 3px;
				& > span {
					vertical-align: middle !important;
				}
			}
		}
	}
	.cookie {
		position: relative;
		background-color: $red;
		padding: 10px 10%;
		button {
			absolute: top 10px right 10px;
		}
		p {
			color: $white;
			margin: 0;
		}
	}
	.form {
		.divider {
			divider();
		}
		background-color: $white-bg;
	}
	.register {
		height: 50px;
		line-height: 50px;
		background-color: $gray-bg;
		text-align: center;

		a {
			color: $white-text;
			// display: inline-block;
			font-size: 20px;
			vertical-align: middle;

			&:hover {
				text-decoration: none;
			}

			span {
				font-family: $font-semibold;
				color: $white;
			}
		}
	}
}	// /LOGIN

#slideshow{
	height: inherit;
	overflow: hidden;
	padding: 0;
	color: $white-text;

	.slideshow {
		box-shadow: inset 10px 0px 22px 0px rgba(0,0,0,0.75);
		padding: 25px;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}

		h1 {
			font-family: $font-semibold;
		}
		h2 {
			font-family: $font-book-italic;
			font-size: 19px;
			small {
				margin-left: 25px;
			}
		}
		h3 {
			margin: 20px 0 20px 0;
			font-size: 19px;
		}

		h4 {
			margin: 25px 0 15px 0;

			text-transform: uppercase;
			background-color: $white-text;
			font-size: 18px;
			color: $gray-bg;
			padding: 5px 10px;
		}

		p {
			margin-top: 20px;
		}

		a {
			color: $bisia;
			undecorate();
		}

		strong, u {
			color: $bisia;
		}

		ul {
			// margin: 0;
			padding: 0 0 0 15px;;
			// list-type-position: inside;
			li {
				margin-left: 0;
				padding-top: 2px;
			}
		}
	}
}