#login {
	position: relative;
	height: inherit;
	z-index: 2;
	background-color: $gray-bg;

	transition: transform .15s;

	&.open-help {
		transform: translateX(-100%);
	}

	.logo {
		height: 189px;
		background-color: $bisia;
		position: relative;

		#logo-bisia {
			width: 100px;
			display: block;
			margin: 18px auto 0 auto;
		}

		#login-help {
			absolute: top 15px right 15px;
			background-color: rgba(42, 45, 54, .7);
			padding: 8px 5px 6px 5px;
			color: $bisia;
			border: none;
			border-radius: 3px;
			text-transform: uppercase;
			font-family: $font-semibold;
			font-size: .5em;
			vertical-align: middle;
			text-align: center;
			width: 55px;
		}

		.counter {
			background-color: rgba(42, 45, 54, .7);
			border-radius: 5px;
			font-size: 12px;
			color: $white;
			width: 55px;
			padding: 5px;
			text-align: center;

			span {
				display: block;
				color: $bisia;
				font-family: $font-semibold
				font-size: .6em;
				text-transform: uppercase;
			}

			&.signed {
				absolute: left 15px bottom 20px;
			}

			&.online {
				absolute: right 15px bottom 20px;
			}
		}

		h1 {
			margin-top: 11px !important;
			text-align: center;
		}
	}
	.social {
		height: 95px;
		background-color: $gray-bg;
		text-align: center;

		a {
			color: $white-text;
			// display: inline-block;
			line-height: 95px;
			font-size: 26px;
			vertical-align: middle;
			.fa-facebook-square {
				background-color: $white;
				color: $fblue;
				width: 44px;
				line-height: 43px;
				border-radius: 10px;
				vertical-align: middle;
				margin: 0 0 5px 6px;
			}
			undecorate();
			span {
				line-height: 22px;
				margin: 0 3px;
				& > span {
					vertical-align: middle !important;
				}
			}
		}
	}
	.cookie {
		position: relative;
		background-color: $red;
		padding: 10px 10%;
		button {
			absolute: top 10px right 10px;
		}
		p {
			color: $white;
			margin: 0;
		}
	}
	.form {
		.divider {
			divider();
		}
		background-color: $white-bg;
	}
	.register {
		height: 50px;
		line-height: 50px;
		background-color: $gray-bg;
		text-align: center;

		a {
			color: $white-text;
			// display: inline-block;
			font-size: 20px;
			vertical-align: middle;

			&:hover {
				text-decoration: none;
			}

			span {
				font-family: $font-semibold;
				color: $white;
			}
		}
	}
}	// /LOGIN

#slideshow {
    background-color: $gray-bg;
    font-size: 12px;
    color: $white-text;

    .close {
    	absolute: top 10px right 10px;
    	color: $white-text;
    }

	.slideshow {

		padding: 25px 20px;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}

		h1 {
			font-family: $font-semibold;
		}
		h2 {
			font-family: $font-book-italic;
			font-size: 19px;
		}
		h3 {
			margin: 20px 0;
			font-size: 15px;
		}

		h4 {
			margin: 25px 0 15px 0;

			text-transform: uppercase;
			background-color: $white-text;
			font-size: 18px;
			color: $gray-bg;
			padding: 5px 10px;
		}

		p {
			margin-top: 20px;
		}

		a {
			color: $bisia;
			undecorate();
		}

		strong, u {
			color: $bisia;
		}

		u {
			text-decoration: none;
			background-color: $bisia;
			color: $gray-bg;
			padding: 0 2px;
		}

		ul {
			// margin: 0;
			padding: 0 0 0 15px;;
			// list-type-position: inside;
			li {
				margin-left: 0;
				padding-top: 2px;
			}
		}
	}
}

// till 767px
@media (max-width: $screen-sm-min - 1) {
	#slideshow {
		fixed: top 0 right 0;
		// width: 90%;
		height: 100%;
		overflow-y: auto;
	}
}

// min-width: 768px
@media (min-width: $screen-sm-min) {

	#login {
		transform: translateX(0) !important;
		box-shadow: 10px -12px 22px 0px rgba(0,0,0,0.75);

		#login-help {
			display: none;
		}

		.form {
			padding: 0 10%;
		}
	}

	#slideshow {
		.close {
			display: none;
		}
	}
}

// min-width: 992px
@media (min-width: $screen-md-min) {
	#slideshow {
		.slideshow {

			p, ul {
				font-size: 1.2em;
			}

		}
	}
}

// min-width: 1280px
@media (min-width: $screen-lg-min) {
	#slideshow {
		.slideshow {

			p, ul, h3 {
				font-size: 1.4em;
			}

		}
	}
}

// min-width: 1281px and more
@media (min-width: $screen-infinite) {

}