#homepage,
#profile,
#event,
#list {
	// position: relative;

	/*& > .row {
		position: relative;

		&:first-child {
			height: inherit;
		}
	}*/

	.header {
		status();
		malefemale();
		position: relative;
		background-color: $gray-row;
		position: relative;
		text-align: center;
		padding: 0;

		min-width: calc(100% - 50px);

		.avatar-wrapper {
			display: inline-block;
			&.online::after {
				absolute: left 7% top 7%;
				font-size: 1.5em;
			}
		}

		.avatar {
			avatar(120px, 3px);
			margin: 0 auto;
		}

		.username {
			username(13px, 0, inline = false);
			.fa.fa-circle {
				color: $green;
				font-size: 10px;
				// margin-right: 1px;
				vertical-align: middle;
			}
		}

		p.cite {
			display: block;
			width: 85%;
			margin: 0 auto;
			padding: 20px 0 0 0;
			font-family: $font-book;
			font-size: 13px;
			color: $gray-text;
		}

		.flip-container {
			perspective: 1000;

			&, .front, .back {
				width: 100%;
				height: 300px;
				overflow: hidden;
			}

			.flipper {
				transition: 0.6s;
				transform-style: preserve-3d;
				position: relative;
			}

			.front, .back {
				backface-visibility: hidden;
				transition: 0.6s;
				// transform-style: preserve-3d;
				position: absolute;
				top: 0;
				left: 0;
				// z-index: 2;
			}

			.front {
				// transform: rotateY(0deg);
				z-index: 2; // ie

				#switch-evaluates {
					absolute: right 10px top 10px;
					border: none;
					color: $gray-row-pin;
					background-color: transparent;
					padding: 0px 10px;
					z-index: 2;

					.fa {
						vertical-align: baseline;
						font-size: 12px;
						&::after {
							content: 'valutazioni'
							margin-left: 5px;
							text-transform: uppercase;
							font-size: 12px;
							font-family: $font-semibold;
						}
					}
				}

				&.stats {
					#switch-evaluates {
						.fa {
							&::after {
								content: 'chiudi'
							}
						}
					}
					.evaluates {
						top: 20px;
						opacity: 1;
					}
					.front-wrapper {
						top: 117%;
						opacity: 1;
					}
				}

				.front-wrapper {
					relative: top 50%;
					transform: translateY(-50%);
					transition: top .5s, opacity .6s;
					opacity: 1;

					a {
						position: relative;
						z-index: 7;
						undecorate();
					}
				}

				.evaluates {
					absolute: top -100% right 0 left 0;
					transition: top .5s, opacity .6s;
					width: 90%;

					color: $white;
					text-align: left;
					list-style-type: none;
					opacity: 0;
					padding: 0;
					margin-bottom: 20px;
					p {
						font-size: 12px;
						font-family: $font-semibold;
						text-transform: uppercase;
						margin: 5px 0 0 20px;
					}
					li {
						// padding-right: 3%;
						a {
							color: $white;
							undecorate();
						}
						div {
							font-size: 12px;
							font-family: $font-semibold;
							text-transform: uppercase;
							text-align: right;
							padding-right: 5px;
							border-radius: 0 3px 3px 0;
							color: $white;
						}
						&:nth-of-type(1) div {
							background-color: $eval1;
						}
						&:nth-of-type(2) div {
							background-color: $eval2;
						}
						&:nth-of-type(3) div {
							background-color: $eval3;
						}
						&:nth-of-type(4) div {
							background-color: $eval4;
						}
						&:nth-of-type(5) div {
							background-color: $eval5;
						}

						&.count {
							padding: 10px 0 0 20px;
							color: $gray-row-pin;
							font-size: 10px;
							font-family: $font-semibold;
						}
					}
				}
			}

			.back {
				transform: rotateY(-180deg);
				color: $black-text;
				background-color: $white-bg;
				text-align: left;
				padding: 19px 10px;
				overflow-y: auto;
				z-index: 1; // ie

				h3 {
					malefemale();
					font-family: $font-semibold;
					text-align: left;
					font-size: 26px;
					margin: 0;
					padding: 10px;

					background-color: $white-border;
				}

				h4 {
					font-family: $font-semibold;
					text-align: left;
					font-size: 18px;
					margin: 30px 0 0 0;
					padding: 10px;

					background-color: $white-border;
					color: $gray-row-hl;
				}

				.light-wrapper {
					display: table-cell;
					vertical-align: top;
					width: 80px;

					#light {
						background-color: $black-text;
						border-radius: 15px;
						overflow: hidden;
						padding: 10px 10px;
						margin-top: 15px;
						margin-right: 20px;

						span {
							border-radius: 50px;
							display: block;
							width: 50px;
							height: 50px;
							margin: 7px auto 7px auto;
							opacity: .5;
						}

						#red    { background-color: red; }
						#orange { background-color: orange; }
						#green  { background-color: green; }

						&.status-busy #red    { opacity: 1; box-shadow: 0 0 10px red; }
						&.status-none #orange { opacity: 1; box-shadow: 0 0 10px $yellow; }
						&.status-free #green  { opacity: 1; box-shadow: 0 0 10px lime; }
					}
				}

				ul {
					ul-list();
					display: table-cell;
					vertical-align: bottom;

					li {
						border-bottom: 1px solid $white-border;
						padding: 27px 0 5px 0px;
						font-size: 12px;

						.label-profile {
							labelprofile();
						}

						small {
							float: right;
							color: $gray-row-pin;
							font-size: 12px;
						}
					}
				}
				.first > div {
					display: table;
				}
				.first ul li {
					&:first-of-type {
						padding-top: 20px;
					}

					.label-profile {
						display: inline;
						margin-right: 10px;
					}
				}

				/*.question {
					font-size: 12px;
					.label-profile {
						padding: 10px 0;
						labelprofile(false);
						border-bottom: 1px solid $white-border;
					}
				}*/

				.birthday big {
					color: $red;
					text-transform: uppercase;
					font-family: $font-semibold;
				}
			}

			&.flip .flipper {
				//transform: rotateY(180deg);
				.front {
					transform: rotateY(180deg);
					z-index: 1;
				}
				.back {
					transform: rotateY(0deg);
					z-index: 2;
				}
			}
		}

	}

	.buttons {
		display: table;
		padding: 0;

		button {
			border: 0;
			width: 25%;
			height: 43px;
			margin: 0;

			font-size: 20px;
			text-align: center;
			color: $white;
			display: table-cell;

			&::before {
				vertical-align: middle;
			}

			&.envelope {
				background-color: $red;
				/*&::before {
					fa('\f0e0');
				}*/
			}

			&.question {
				background-color: $bisiad;
				/*&::before {
					fa('\f004');
				}*/
			}

			&.thumb {
				background-color: $blue;
				/*&::before {
					fa('\f164');
				}*/
			}

			&.info {
				background-color: $gray-row-hl;
				/*&::before {
					fa('\f05a');
				}*/
			}

			&.gear {
				background-color: $gray-row-hl;
				/*&::before {
					fa('\f013');
				}*/
			}
		}

	}

	.counters {
		padding: 0;
		ul {
			ul-list();
			width: 100%;
			display: table;

			li {
				display: table-cell;
				width: 32%;
				border-left: 2px solid $white-border;
				padding: 10px 0 5px 0;
				text-align: center;
				vertical-align: middle;

				font-family: $font-semibold;
				font-size: 11px;
				color: $red;
				text-transform: uppercase;

				span {
					color: $black-text;
					font-size: 30px;
					display: block;
				}

				&:nth-child(2) {
					width: 33%;
				}

				&:first-of-type {
					border-left: 0;
				}
				& > a {
					color: $red;
					undecorate();
				}
			}
		}

	}

	.know {
		display: table;
		height: 48px;
		line-height: 48px;
		font-family: $font-semibold;
		background-color: $gray-row;
		padding: 0;

		button.evaluate,
		div.switch-wrapper {
			text-transform: uppercase;
			display: table-cell;
		}

		div.switch-wrapper {
			width: 100%;
			color: $white-text;
			text-align: center;
			vertical-align: middle;
			// malefemale();
			switch(0 5px 0 5px);
		}

		button.evaluate {
			width: 100%;
			padding: 0;
			border: none;
			// color: $white;
			background-color: $gray-bar;
			line-height: 48px;
			ellipsis();

			& + div.switch-wrapper {
				width: 67%;
			}
		}

		#new-post-profile {
			height: inherit;
			display: table-cell;
			width: 100%;
			text-align: center;
			border: none;
			background-color: transparent;
			color: $white;
			font-family: $font-book;

			span {
				color: $bisia;
				font-family: $font-semibold;
			}

			i {
				font-size: 2em;
				margin-right: 10px;
				vertical-align: middle;
			}
		}

	}

	// EVENT

	&.event {

		.front {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}

		.back {
			padding: 10px !important;

			h4 {
				margin-top: 0 !important;
			}

			p.date-time {
				padding-left: 10px;
				&::before {
					padding-right: 5px;
					fa('\f017');
				}
			}

			p.location {
				padding-left: 12px;
				&::before {
					padding-right: 7px;
					fa('\f041');
				}
			}

			p.owner {
				padding-left: 11px;
				&::before {
					padding-right: 7px;
					fa('\f007');
				}
			}

			p.descr {
				padding: 20px 15px;
			}
		}

		.date-event {
			position: relative;
			width: 120px;
			height: 120px;
			border-radius: 60px;
			background-color: $white;
			border: 3px solid $bisia;
			text-align: center;
			margin: 0 auto;
			z-index: 2;

			p {
				absolute: top 50% left 0 right 0;
				transform: translateY(-50%);
				color: $gray-row;
				text-transform: uppercase;
				font-family: $font-semibold;
				margin: 0; padding: 0;

				big {
					display: block;
					font-family: $font-semibold;
					font-size: 60px;
					line-height: 80%;
					margin: 0;
					padding-top: 3px;
					color: $red;
				}
			}
		}

		.time-event {
			font-family: $font-semibold;
			font-size: 12px;
			background-color: $bisia;
			border-radius: 15px;
			display: inline-block;
			color: $gray-row;
			padding: 2px 7px;
			margin-top: 10px;
		}

		.title-event {
			username(13px, 0, inline = false);
			color: $white;
			line-height: 120%;
			text-shadow: 2px 2px 2px $black-text;

			& > span {
				color: $bisiad;
				margin-top: 10px;
			}
		}

		.buttons {
			button {
				width: 50%;

				&.marker {
					border-left: 2px solid $gray-row;
					background-color: $gray-row-hl;
					&::before {
						fa('\f041');
					}
				}

				&.info {
					background-color: $gray-row-hl;
					&::before {
						fa('\f05a');
					}
				}
				&.delete {
					width: 10%;
					background-color: $red;
					&::before {
						fa('\f00d');
					}
					& ~ button {
						width: 45%;
					}
				}
			}
		}

		.counters {
			li:nth-child(1) {
				width: 33%;
			}
		}

		.posts {

			header {
				border-bottom: none;
				padding: 0;
				h5 {
					font-size: 12px;
				}

				& + p {
					font-size: 12px;
					padding-bottom: 0;
				}
			}

			.comment {
				padding-bottom: 0;
			}
		}

	}


}	// /PROFILE


// QUESTION Modal

.question {

	font-size: 12px;
	.label-profile {
		padding: 10px 0;
		labelprofile(false);
		border-bottom: 1px solid $white-border;
	}
}