#settings {

	.divider {
		divider(10%);
	}

	.form {

		.light-wrapper {
			display: table-cell;
			width: 90%;
		}

		.lights {
			display: inline-block;
			text-align: right;
			width: 100%;

			.checkround {
				checkround($bisia, 26px, 3px , 4px);
				display: inline-block;

				&:nth-child(1) {
					checkround($red, 26px, 3px , 4px);
					// margin-right: 15px;
				}

				&:nth-child(3) {
					checkround($green, 26px, 3px , 4px);
					// margin-left: 15px;
				}

				label {
					font-size: 10px;
					color: $gray-row-pin;
				}
			}
		}
	}

	.image {
		//status();
		status-border();
		malefemale();
		text-align: center;

		/*img {
			image-avatar(200px, 4px);
		}

		.avatar {
			avatar(200px, 4px);
			margin: 0 auto;
		}*/

		.image-wrapper {
			image-wrapper(200px, 4px);
		}

		#image-form {
			display: none;
		}
	}
}