<template name="articleTemplate">

	<div class="body-wrapper">

		{{> navbarTop}}

		<div class="content container-fluid">
			<div id="profile">
				<div class="row">
					<div class="col-xs-12 posts">
						<article>
							<header class="article status-busy male">
								<a href="">
									<img src="/img/redbaron76.jpg" alt="">
									<div class="username">
										<small>redbaron76</small> <span class="time">10m fa</span>
										<h5>Donec ullamcorper nulla non metus auctor fringilla.</h5>
									</div>
								</a>
							</header>
							<p>Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

							<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.</p>

							<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

							<p>Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
							<div class="row">
								<div class="col-xs-12 buttons">
									<button id="like-this">
										<i class="fa fa-thumbs-up"></i>
										14
									</button>
									<button id="unlike-this">
										<i class="fa fa-thumbs-down"></i>
										6
									</button>
									<button id="share-this">
										<i class="fa fa-share"></i>
										Condividi
									</button>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 comment">
									<form action="">
										<textarea placeholder="Commenta il post..." class="autosize"></textarea>
										<button type="submit">
											<i class="fa fa-paper-plane"></i>
										</button>
									</form>
								</div>
							</div>
							<ul class="comments-list">
								<li class="status-busy male">
									<a href="">
										<img src="/img/redbaron76.jpg" alt="">
										<div class="username">
											<small>redbaron76</small> <span class="time">10m fa</span>
										</div>
									</a>
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. </p>
								</li>
								<li class="status-busy male">
									<a href="">
										<img src="/img/redbaron76.jpg" alt="">
										<div class="username">
											<small>redbaron76</small> <span class="time">10m fa</span>
										</div>
									</a>
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. </p>
								</li>
								<li class="status-busy male">
									<a href="">
										<img src="/img/redbaron76.jpg" alt="">
										<div class="username">
											<small>redbaron76</small> <span class="time">10m fa</span>
										</div>
									</a>
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. </p>
								</li>
							</ul>
						</article>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 helpbar title">
						<h2>Donec ullamcorper nulla non metus auctor fringilla vestibulum id ligula porta felis euismod semper.</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 helpbar bottom">
						<button class="info write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="envelope load-more">
							<i class="fa fa-repeat"></i> Carica altri commenti
						</button>
						<button class="thumb go-top">
							<i class="fa fa-arrow-up"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="md-overlay gray"></div>

	</div>

	{{> sidebarLeft}}
	{{> sidebarRight}}

	<div class="md-modal right" data-content="share-this">
		{{> navbarModal title="Condividi" action="share"}}
		<div class="content container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="item-list">
						<li class="status-busy male">
							<div class="user-label">
								<img src="/img/redbaron76.jpg" alt="">
								<div class="username">
									redbaron76
									<span>Monfalcone</span>
								</div>
								<div class="checkbox">
									<div class="checkround">
										<input type="checkbox" id="share-uid1">
										<label for="share-uid1"></label>
									</div>
								</div>
							</div>
						</li>
						<li class="status-busy male">
							<div class="user-label">
								<img src="/img/redbaron76.jpg" alt="">
								<div class="username">
									redbaron76
									<span>Monfalcone</span>
								</div>
								<div class="checkbox">
									<div class="checkround">
										<input type="checkbox" id="share-uid2">
										<label for="share-uid2"></label>
									</div>
								</div>
							</div>
						</li>
						<li class="status-busy male">
							<div class="user-label">
								<img src="/img/redbaron76.jpg" alt="">
								<div class="username">
									redbaron76
									<span>Monfalcone</span>
								</div>
								<div class="checkbox">
									<div class="checkround">
										<input type="checkbox" id="share-uid3">
										<label for="share-uid3"></label>
									</div>
								</div>
							</div>
						</li>
						<li class="status-busy male">
							<div class="user-label">
								<img src="/img/redbaron76.jpg" alt="">
								<div class="username">
									redbaron76
									<span>Monfalcone</span>
								</div>
								<div class="checkbox">
									<div class="checkround">
										<input type="checkbox" id="share-uid4">
										<label for="share-uid4"></label>
									</div>
								</div>
							</div>
						</li>
						<li class="status-busy male">
							<div class="user-label">
								<img src="/img/redbaron76.jpg" alt="">
								<div class="username">
									redbaron76
									<span>Monfalcone</span>
								</div>
								<div class="checkbox">
									<div class="checkround">
										<input type="checkbox" id="share-uid5">
										<label for="share-uid5"></label>
									</div>
								</div>
							</div>
						</li>
						<li class="status-busy male">
							<div class="user-label">
								<img src="/img/redbaron76.jpg" alt="">
								<div class="username">
									redbaron76
									<span>Monfalcone</span>
								</div>
								<div class="checkbox">
									<div class="checkround">
										<input type="checkbox" id="share-uid6">
										<label for="share-uid6"></label>
									</div>
								</div>
							</div>
						</li>
						<li class="status-busy male">
							<div class="user-label">
								<img src="/img/redbaron76.jpg" alt="">
								<div class="username">
									redbaron76
									<span>Monfalcone</span>
								</div>
								<div class="checkbox">
									<div class="checkround">
										<input type="checkbox" id="share-uid7">
										<label for="share-uid7"></label>
									</div>
								</div>
							</div>
						</li>
						<li class="status-busy male">
							<div class="user-label">
								<img src="/img/redbaron76.jpg" alt="">
								<div class="username">
									redbaron76
									<span>Monfalcone</span>
								</div>
								<div class="checkbox">
									<div class="checkround">
										<input type="checkbox" id="share-uid8">
										<label for="share-uid8"></label>
									</div>
								</div>
							</div>
						</li>
						<li class="status-busy male">
							<div class="user-label">
								<img src="/img/redbaron76.jpg" alt="">
								<div class="username">
									redbaron76
									<span>Monfalcone</span>
								</div>
								<div class="checkbox">
									<div class="checkround">
										<input type="checkbox" id="share-uid9">
										<label for="share-uid9"></label>
									</div>
								</div>
							</div>
						</li>
						<li class="status-busy male">
							<div class="user-label">
								<img src="/img/redbaron76.jpg" alt="">
								<div class="username">
									redbaron76
									<span>Monfalcone</span>
								</div>
								<div class="checkbox">
									<div class="checkround">
										<input type="checkbox" id="share-uid10">
										<label for="share-uid10"></label>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</template>