<!-- <template name="baseTemplate">
	<div class="wrapper{{addMobile 'mobile'}}">
		{{> yield}}
		{{#if hasModal}} {{> modalWrapper}} {{/if}}
		{{#if hasOverlay}} {{> overlayWrapper}} {{/if}}
	</div>
</template> -->

<!-- <template name="navbarTop">
	<nav class="bar bar-nav">
		<h1>{{printTitle}}</h1>
		<button class="navbar-btn left toggle-menu">
			<i class="fa fa-lg fa-bars"></i>
			<span>3</span>
		</button>
		<button class="navbar-btn right toggle-users">
			<i class="fa fa-lg fa-user"></i>
			<span>3</span>
		</button>
	</nav>
</template> -->

<!-- <template name="popupWrapper">
	<div class="md-popup">
		<div class="animation">
			<div class="md-message">
				<button type="button" class="close">&times;</button>
				<p class="male">Scrivi a: <span class="username">redbaron76</span></p>
				<form action="" class="form-row message">
					<input type="hidden" name="target" value="DSFUUHNibgfygniuh">
					<textarea placeholder=""></textarea>
					<button type="submit" class="send-message">Invia messaggio</button>
				</form>
			</div>
		</div>
	</div>
</template>

<template name="bubbleWrapper">
	<div class="md-bubble">
		<div class="animation">
			<div class="md-notification message hide">
				<a href="" class="status-busy male">
					<img src="/img/redbaron76.jpg" alt="">
					<p><em class="username">redbaron76</em> ti ha inviato un nuovo messaggio privato! <span>3s</span></p>
				</a>
				<button type="button" class="close">&times;</button>
			</div>
			<div class="md-notification vote hide">
				<a href="" class="status-busy male">
					<img src="/img/redbaron76.jpg" alt="">
					<p><em class="username">redbaron76</em> ti ha votato! <span>10s</span></p>
				</a>
				<button type="button" class="close">&times;</button>
			</div>
		</div>
	</div>
</template> -->

<!-- <template name="navbarModal">
	<nav class="bar bar-nav">
		<h1>{{#if title}}
				{{title}}
			{{else}}
				{{printTitle}}
			{{/if}}
		</h1>
		<button class="navbar-btn left md-close">
		</button>
		{{#if action}}
			<button class="navbar-btn right send-{{action}}">
				<i class="fa fa-{{action}}"></i>
			</button>
		{{/if}}
	</nav>
</template> -->

<template name="modalWrapper">
	<div class="md-modal bottom" data-content="terms-conditions">
		{{> navbarModal}}
		<div class="content container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h2>Termini e condizioni</h2>
					Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				</div>
			</div>
		</div>
	</div>
	<div class="md-modal right" data-content="rules">
		{{> navbarModal}}
		<div class="content container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h2>Regolamento</h2>
					Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				</div>
			</div>
		</div>
	</div>
</template>

<!-- <template name="overlayWrapper">
	{{> popupWrapper}}
	{{> bubbleWrapper}}
	<div class="md-overlay"></div>
</template> -->