<template name="loginTemplate">

	<div class="body-wrapper">
		<div class="content container-fluid">
			<div id="login">
				<div class="row">
					<div class="col-xs-12 logo">
						<div class="counter signed">
							25.000
							<span>iscritti</span>
						</div>
						<div class="counter online">
							374
							<span>on-line</span>
						</div>
						<img src="/img/logo_bisia.svg" alt="Bisiacaria.com" id="logo-bisia">
						<h1>Login</h1>
						<div class="caret-down"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 social">
						<a href="#">Clicca ed entra con
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-facebook-square fa-stack-2x fa-inverse"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 form">
						<div class="divider white-bg"><span>oppure usa il tuo account</span></div>
						<form action="#" role="form" class="form-row">
							<div class="form-group">
								<i class="fa fa-envelope"></i>
								<input type="text" placeholder="Indirizzo e-mail">
								<span class="check valid"></span>
							</div>
							<div class="form-group">
								<i class="fa fa-lock"></i>
								<input type="password" placeholder="Password">
								<span class="check fail"></span>
							</div>
							<button type="submit" class="yellow">Entra</button>
							<p>Hai dimenticato la password ? <a href="#">Clicca qui</a></p>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 register">
						<a href="#">Non sei in <span>Bisia</span>? Iscriviti <span>ora</span>!</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>