<template name="registerTemplate">

	<div class="body-wrapper">
		<div class="content container-fluid">
			<div id="register">
				<div class="row">
					<div class="col-xs-12 logo">
						<h1>Registrati</h1>
						<div class="caret-down"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 social">
						<h2>Crea il tuo account</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 form">
						<form action="#" role="form" class="form-row">
							<div class="divider white-bg"><span>i tuoi dati di accesso</span></div>
							<div class="form-group">
								<i class="fa fa-envelope"></i>
								<input type="text" placeholder="Indirizzo e-mail">
								<span class="check valid"></span>
							</div>
							<div class="form-group">
								<i class="fa fa-lock"></i>
								<input type="password" placeholder="Password">
								<span class="check fail"></span>
							</div>
							<div class="form-group">
								<i class="fa fa-lock"></i>
								<input type="password" placeholder="Ripeti password">
								<span class="check"></span>
							</div>
							<div class="divider white-bg"><span>i tuoi dati anagrafici</span></div>
							<div class="form-group">
								<i class="fa fa-user"></i>
								<input type="text" placeholder="Username">
								<span class="check valid"></span>
							</div>
							<div class="form-group check-box">
								<i class="fa fa-male"></i>
								<div class="checkround">
									<input type="radio" name="gender" value="busy" id="male">
									<label for="male"></label>
								</div>
								<label for="male">Uomo</label>
								<i class="fa fa-female"></i>
								<div class="checkround">
									<input type="radio" name="gender" value="busy" id="female">
									<label for="female"></label>
								</div>
								<label for="female">Donna</label>
							</div>
							<div class="form-group">
								<i class="fa fa-birthday-cake"></i>
								<div class="birthdate">
									<input type="text" name="day" placeholder="Giorno">
									<span class="spacer">/</span>
									<input type="text" name="month" placeholder="Mese">
									<span class="spacer">/</span>
									<input type="text" name="year" placeholder="Anno">
								</div>
								<span class="check fail"></span>
							</div>
							<button type="submit" class="yellow">Iscriviti</button>
							<p>Iscrivendoti al servizio, accetti <a href="#" id="terms-conditions">termini e condizioni</a> del servizio Bisiacaria.com</p>
							<p>Consulta anche il <a href="#" id="rules">regolamento</a> di Bisiacaria.com</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>