<template name="sidebarRight">
	<aside class="sidebar right online-users">
		<header>
			<div class="counter users">500 <span>online</span></div>
			<form action="#">
				<input type="search" placeholder="&#xf002; Filtra nickname">
			</form>
		</header>

		<div class="users-list">
			<ul id="usersList">
				<li class="status-busy male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-none female">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-free male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-busy male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-none female">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-free male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-busy male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-none female">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-free male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-busy male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-none female">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-free male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-busy male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-none female">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-free male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-busy male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-none female">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							redbaron76
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
				<li class="status-free male">
					<a href="">
						<img src="/img/redbaron76.jpg" alt="">
						<div class="username">
							last.nickname
							<span>Monfalcone</span>
						</div>
					</a>
					<div class="caret-right"></div>
					<div class="action">
						<button class="user profile-user">
							<i class="fa fa-user"></i>
						</button>
						<button class="envelope write-message">
							<i class="fa fa-envelope"></i>
						</button>
						<button class="thumb send-vote">
							<i class="fa fa-thumbs-up"></i>
						</button>
					</div>
				</li>
			</ul>
		</div>

	</aside>
</template>