<template name="visitorsTemplate">

	<div class="body-wrapper">

		{{> navbarTop title="Visite ricevute"}}

		<div class="content container-fluid">
			<div class="list">
				<div class="row">
					<div class="col-xs-12">
						<ul class="item-list">
							<li class="status-busy male">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
							<li class="status-none female">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
							<li class="status-none male">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
							<li class="status-free female">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
							<li class="status-free male">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
							<li class="status-busy female">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
							<li class="status-busy male">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
							<li class="status-none female">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
							<li class="status-none male">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
							<li class="status-free female">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
							<li class="status-free male">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
							<li class="status-busy female">
								<div class="user-label">
									<a href="">
										<div class="user-wrapper">
											<img src="/img/redbaron76.jpg" alt="">
											<div class="username">
												redbaron76
												<span class="time">10 min fa</span>
											</div>
										</div>
									</a>
									<div class="checkbox">
										<a href="#" class="btn-round send-vote">
											<i class="fa fa-thumbs-up"></i>
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 helpbar bottom">
						<button class="envelope load-more">
							<i class="fa fa-repeat"></i> Carica altri elementi
						</button>
						<button class="thumb go-top">
							<i class="fa fa-arrow-up"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="md-overlay gray"></div>

	</div>

	{{> sidebarLeft}}
	{{> sidebarRight}}

</template>