.ios {

	.titlebar {
		margin-top: 15px !important;
	}

	.bar-nav {
		padding-top: 15px !important;
		height: $navbar-height + 15px;

		& ~ .content {
			padding-top: $navbar-height + 15px;
		}
	}

	.online-users {
		padding-top: 15px;

		.users-list {
			scrollable(65px);
		}
	}
}