@import 'nib';
@import 'system/variables.import';

html, body {
	height: 100%;
	font-family: $font-book;
	color: $gray-row-hl;
	background-color: $gray-bg;
}

body {
	overflow: hidden; // ie
}

.wrapper {
	width: 100%;
	height: inherit;
	overflow-x: hidden;
	background-color: $white-bg;

	&.sidebar-open-left {
		.body-wrapper {
			transform: translate3d($sidebar-width, 0, 0);
		}
		.sidebar.left {
			transform: translate3d(0, 0, 0);
			z-index: 2;
		}
	}
	&.sidebar-open-right {
		.body-wrapper {
			transform: translate3d($sidebar-width * -1, 0, 0);
		}
		.sidebar.right {
			transform: translate3d(0, 0, 0);
			z-index: 2;
		}
		.appear.online {
			display: none;
		}
	}
	&.sidebar-open-left,
	&.sidebar-open-right {
		.navbar-top {
			background-color: $sidebar-bg;
		}
		.body-wrapper {
			// fixed: top 0;
			position: relative;
			top: 0; // ie
			& .content { overflow: hidden; }
			& .md-overlay {
				transition: opacity .2s linear;
				visibility: visible;
				opacity: 1;
				z-index: 99;
			}
			.title, .gotopmore {
				visibility: hidden !important;
				// transform: translate3d(0, 100%, 0);
			}
		}
	}
	&.closing-left {
		.sidebar.right { display: none; }
		.sidebar.left { visibility: visible; }
	}
	&.closing-right {
		.sidebar.left {	display: none; }
		.sidebar.right { visibility: visible; }
	}
}

.body-wrapper {
	// relative: left 0;
	absolute: left 0; // ie
	display: block;
	width: 100%;
	height: inherit;
	z-index: 3; // 3
	transition: transform .25s;

	// hack to keep position absolute on .gotopmore
	overflow: hidden;

	&.unlogged {
		.content {
			background-color: $gray-bg;
		}
	}

	&.logged {
		padding-top: $navbar-height;
	}
}


.content {
	// absolute: top 0 right 0 bottom 0 left 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow: auto;
	z-index: 0;
	// enable touch feeling on iOs
	-webkit-overflow-scrolling: touch;

	height: inherit;

	background-color: $white-bg;
	font-family: $font-book;
	color: $black-text;

	& p:first-of-type {
		margin-top: 15px;
	}

	& div + p:first-of-type {
		margin-top: 0;
	}

	&.bottom-show {
		#profile .posts {
			padding-bottom: 40px;
		}
		.row:last-of-type {
			.list-wrapper:last-of-type {
				.item-list {
					padding-bottom: 40px;
				}
			}
		}
	}
}

.device,
.device-switcher {
	display: none;
}

a, a:hover, a:active, a:focus,
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
	outline: 0 !important;
// -webkit-appearance:none;
}

@import 'partials/components.import';

@import 'pages/homepage.import';
@import 'pages/login.import';
@import 'pages/profile.import';
@import 'pages/register.import';
@import 'pages/settings.import';

@import 'system/devices.import';
@import 'system/virtuals.import';

// @import 'ios-fixies.import';