$gray-bg = #2a2d36;
$gray-row = #363844;
$gray-row-hl = #555c6f;
$gray-row-pin = #7f859d;
$gray-text = #cdcdcd;
$gray-bar = #c1c1c1;
$gray-footer = #505261;

$black = #000000;
$black-text = #393b47;

$fblue = #4c69ba;
$blue = #679bdb;
$pink = #ff609b;
$green = #42a347 // 8ad185;
$bisia = #f4a816;
$bisiad = darken($bisia, 10%);
$bisiadd = darken($bisia, 15%);
$logo = #7e5d1f;
$red = #c74c3d;
$yellow = #c8cd69;

$white = #f9f9f9;			// dirty white as bg
$white-bg = #eeeeee;		// bg counter
$white-border = #e1e1e1;	// border counter
$white-text = #dddee2;
$white-map = #c3c3c3;

$sidebar-bg = #2a2d36;
