@font-face {
    font-family: 'cooper_hewittbook';
    src: url('/fonts/cooperhewitt-book-webfont.eot');
    src: url('/fonts/cooperhewitt-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-book-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-book-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-book-webfont.svg#cooper_hewittbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittheavy_italic';
    src: url('/fonts/cooperhewitt-heavyitalic-webfont.eot');
    src: url('/fonts/cooperhewitt-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-heavyitalic-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-heavyitalic-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-heavyitalic-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-heavyitalic-webfont.svg#cooper_hewittheavy_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittbold';
    src: url('/fonts/cooperhewitt-bold-webfont.eot');
    src: url('/fonts/cooperhewitt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-bold-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-bold-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-bold-webfont.svg#cooper_hewittbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittbold_italic';
    src: url('/fonts/cooperhewitt-bolditalic-webfont.eot');
    src: url('/fonts/cooperhewitt-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-bolditalic-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-bolditalic-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-bolditalic-webfont.svg#cooper_hewittbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittlight';
    src: url('/fonts/cooperhewitt-light-webfont.eot');
    src: url('/fonts/cooperhewitt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-light-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-light-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-light-webfont.svg#cooper_hewittlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittlight_italic';
    src: url('/fonts/cooperhewitt-lightitalic-webfont.eot');
    src: url('/fonts/cooperhewitt-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-lightitalic-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-lightitalic-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-lightitalic-webfont.svg#cooper_hewittlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittmedium_italic';
    src: url('/fonts/cooperhewitt-mediumitalic-webfont.eot');
    src: url('/fonts/cooperhewitt-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-mediumitalic-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-mediumitalic-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-mediumitalic-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-mediumitalic-webfont.svg#cooper_hewittmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittbook_italic';
    src: url('/fonts/cooperhewitt-bookitalic-webfont.eot');
    src: url('/fonts/cooperhewitt-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-bookitalic-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-bookitalic-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-bookitalic-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-bookitalic-webfont.svg#cooper_hewittbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('/fonts/cooperhewitt-semibold-webfont.eot');
    src: url('/fonts/cooperhewitt-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-semibold-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-semibold-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-semibold-webfont.svg#cooper_hewittsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittsemibold_italic';
    src: url('/fonts/cooperhewitt-semibolditalic-webfont.eot');
    src: url('/fonts/cooperhewitt-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-semibolditalic-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-semibolditalic-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-semibolditalic-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-semibolditalic-webfont.svg#cooper_hewittsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('/fonts/cooperhewitt-heavy-webfont.eot');
    src: url('/fonts/cooperhewitt-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-heavy-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-heavy-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-heavy-webfont.svg#cooper_hewittheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('/fonts/cooperhewitt-medium-webfont.eot');
    src: url('/fonts/cooperhewitt-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-medium-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-medium-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-medium-webfont.svg#cooper_hewittmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittthin_italic';
    src: url('/fonts/cooperhewitt-thinitalic-webfont.eot');
    src: url('/fonts/cooperhewitt-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-thinitalic-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-thinitalic-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-thinitalic-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-thinitalic-webfont.svg#cooper_hewittthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittthin';
    src: url('/fonts/cooperhewitt-thin-webfont.eot');
    src: url('/fonts/cooperhewitt-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cooperhewitt-thin-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-thin-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-thin-webfont.ttf') format('truetype'),
         url('/fonts/cooperhewitt-thin-webfont.svg#cooper_hewittthin') format('svg');
    font-weight: normal;
    font-style: normal;

}