// FONTS
// $font = 'Titillium Web', Tahoma, Geneva, sans-serif;
$font-bootstrap = 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bisia = 'cooper_hewittmedium', Tahoma, Geneva, sans-serif;
$font-light = 'cooper_hewittlight', Tahoma, Geneva, sans-serif;
$font-book = 'cooper_hewittbook', Tahoma, Geneva, sans-serif;
$font-semibold = 'cooper_hewittsemibold', Tahoma, Geneva, sans-serif;
$font-book-italic = 'cooper_hewittbook_italic', Tahoma, Geneva, sans-serif;
$font-semibold-italic = 'cooper_hewittsemibold_italic', Tahoma, Geneva, sans-serif;

// SIZES
$sidebar-width = 260px;
$sidebar-tools = 120px;
$navbar-clock = 20px;
$navbar-height = 50px;

$screen-sm-min = 768px;
$screen-md-min = 992px;
$screen-lg-min = 1280px;

@import 'fonts.import';
@import 'colors.import';
@import 'mixins.import';