.bisia-menu {
	header {
		height: 120px;
		overflow: hidden;
		border-bottom: 3px solid $gray-row-hl;
		padding-top: 20px;
		position: relative;

		svg {
			width: 150px;
			height: 150px;
			color: $gray-row-hl;
			fill: currentColor;
			margin-left: 10px;
		}

		.counter {
			counter();
			undecorate();
			min-width: 40px;
			&.signed {
				absolute: top 10px right 0;
			}
		}

		.noty {
			absolute: bottom 10px right 10px;
			noty-button();
			span {
				badge($red);
				absolute: top -5px left -50%;
				transform: translate3d(50%, 0, 0);
			}
		}
	}

	.profile-intro {
		// status();
		status-border();
		malefemale();
		undecorate();
		a-wrapper();
		padding: 10px 10px 10px 0;
		position: relative;

		.profile-wrapper {
			transition: transform .2s;
		}
		/*.avatar-wrapper {
			padding: 0 5px;
		}
		.avatar {
			avatar(50px, 2px);
		}*/

		.image-wrapper {
			padding: 0 5px;
			image-wrapper(50px, 2px);
		}

		.username {
			username(14px);
			width: 100%;
			padding-left: 5px;
			ellipsis();

			span {
				ellipsis();
				width: 160px;
			}
		}

		.action {
			display: table;
			absolute: top 10px right -131px; // 87
			transition: transform .2s;
			height: 50px;
			z-index: 2;

			a, button {
				display: table-cell;
				vertical-align: middle;
				background-color: $gray-row;
				border: none;
				color: $white;
				text-align: center;
				width: 43px;
				height: 50px;
				margin-left: 1px;
				padding: 0;

				i.fa {
					font-size: 25px;
					vertical-align: middle;
				}
			}
		}

		&.links-open {

			.profile-wrapper {
				transform: translate3d(-60px, 0, 0);
			}

			.action {
				transform: translate3d(-131px, 0, 0); // 87
			}
		}
	}

	.menu-list {
		scrollable(190px);
		// background-color: lime;

		ul {
			ul-list();

			li {
				li-list(2px, 10px);

				a {
					display: inline-block;
					color: $white-text;
					font-family: $font-book;
					font-size: 16px;
					width: 100%;

					undecorate();

					i {
						font-size: 17px;
						color: $gray-row-pin;
						padding-right: 10px;
						min-width: 25px;
						vertical-align: baseline;
						&.highlight {
							color: $bisia;
						}
					}

					span {
						float: right;
						badge();

						&.new {
							background-color: $red;
						}

						&.live {
							background-color: $blue;
						}
					}
					small {
						font-size: 10px;
						padding-left: 3px;
						color: $gray-row-pin;
					}
				}


				&.active {
					background-color: $gray-row-hl;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

// Hover on menu in desktop mode only
.desktop {
	.menu-list {
		li:hover {
			background-color: $gray-row-hl;
		}
	}
}