.md-bubble {
	fixed: bottom 0 left 50%;
	transform: translateX(-50%);
	width: 90%;
	max-width: 750px;
	min-width: 300px;
	height: auto;
	min-height: 50px;
	z-index: 1002;
	visibility: hidden;
	backface-visibility: hidden;

	&.md-show {
		visibility: visible;
	}

	// background-color: lime;

	.md-notification {
		position: relative;
		background-color: $white;
		border-radius: 5px;
		padding: 10px 30px 10px 10px;
		margin-bottom: 5px;
		background-color: $white;
		notify($black-text);
		a {
			status();
			malefemale();
			undecorate();
		}
		button.close {
			font-family: $font-bootstrap;
			absolute: top 0 right 10px bottom 0;
		}
	}
}