.chatpage {
	.chat {
		.item-list {
			padding-top: 10px;
			padding-bottom: 100px;

			li.message {
				border: none;

				/*.avatar-wrapper {
					width: 50px;
					display: block;
					font-size: .8em;
					padding-top: 10px;
					.avatar {
						avatar(35px, 2px);
					}
					&.online::after {
						top: 10px;
					}
				}*/

				.image-wrapper {
					margin-right: 15px;
					margin-top: 8px;

					display: block;
					font-size: .8em;
					padding-top: 10px;

					image-wrapper(35px, 2px);

					&.online::after {
						top: 10px;
					}
				}

				p {
					position: relative;
					display: table-cell;
					width: 100%;
					padding: 10px;
					border-radius: 5px;
					background-color: $white-border;
					vertical-align: top;
					font-size: 14px;

					a.username {
						undecorate();
						display: block;
						padding-left: 0;
						padding-bottom: 5px;
						width: 100%;
						span.time {
							absolute: top 0 right 0;
							color: $gray-bar;
						}
					}

					.caret-chat {
						width: 0;
						height: 0;
						border-top: 8px solid transparent;
						border-bottom: 8px solid transparent;

						&.left {
							border-right: 8px solid $white-border;
							absolute: top 19px left -8px;
						}

						&.right {
							border-left: 8px solid $white;
							absolute: top 19px right -8px;
						}
					}
				}

				&.me {
					/*.avatar-wrapper {
						text-align: right;
						div {
							margin-left: auto;
							margin-right: 0;
						}
					}*/

					.image-wrapper {
						text-align: right;
						margin-left: 15px;
						margin-right: 0;

						div {
							margin-left: auto;
							margin-right: 0;
						}
					}

					a.username {
						text-align: right;
						span.time {
							left: 0;
							right: auto;

							&::after {
								fa('\f00c');
								margin-left: 5px;
							}

							&.read {
								&::after {
									color: $green;
								}
							}

							&.noread {
								&::after {
									display: none;
								}
							}
						}
					}
					p {
						background-color: $white;
					}
				}
			}
		}
	}

	& + .reply-form {
		background-color: $gray-bar;
		backface-visibility: hidden;
		transform: translateZ(0);
		transition: transform .5s;
		// fixed: bottom 0;
		absolute: left 0 bottom 0 right 0; // ie
		width: 100%;
		z-index: 5;

		& > div {
			padding: 0;
		}

		form {
			width: 100%;
			margin: 0;
			padding: 10px 0 0 10px;
			display: block;
			// display: table;
			// table-layout: fixed;

			textarea {
				border: 0;
				border-radius: 5px;
				padding: 5px 10px;
				margin: 0;
				font-size: 14px;
				color: $gray-row-hl;
				background-color: $white;
				width: 84%;
				height: 50px;
				min-height: 50px;
				resize: none;
				// display: table-cell;
				display: inline-block;
			}

			button {
				border: none;
				width: 15%;
				line-height: 22px;
				margin: 0 0 15px 0;
				background-color: transparent;
				color: $blue;
				font-family: $font-semibold;
				text-align: center;
				vertical-align: bottom;
				// display: table-cell;
				display: inline-block;
			}
		}

		.chat-commands {
			display: table;
			width: 84%;
			button, label {
				display: table-cell;
				vertical-align: middle;
				cursor: pointer;
			}
			button {
				border: none;
				background-color: transparent;
				color: $white;
				line-height: inherit;
				padding: 0 10%;
				height: 30px;
				i {
					font-size: 18px;
					&.fa-ban {
						font-size: 24px;
					}
				}
			}
			label {
				// background-color: blue;
				padding: 5px 0;
				text-align: right;
				font-size: 10px;
				color: $white;
				width: 60%;
				input {
					margin-left: 5px;
				}
			}
		}
	}
}