.md-info {

	h1 {
		absolute: top 0 left 0;
		width: 100%;
		font-size: 20px;
		color: $white;
		background-color: $gray-row-hl;
		padding: 20px;
		margin: 0;
		z-index: 1002;
	}

	&.error {
		h1 {
			background-color: $red;
		}
	}

	&.success {
		h1 {
			background-color: $green;
		}
	}

	h2 {
		font-size: 16px;
		color: $white;
		padding: 5px;
		border-radius: 5px;

		.fa {
			float: right;
			&::before {
				margin-right: 5px;
			}
		}

		&.like {
			background-color: $green;
		}
		&.unlike {
			background-color: $red;
		}
	}

	.buttons {
		z-index: 1002;
		border: none;
		cursor: pointer;
		i {
			font-size: 40px;
		}

		&#info-close {
			absolute: top 10px right 10px;
		}
	}

	.wrapper-info {
		z-index: 1001;

		absolute: top 0 right 0 bottom 0 left 0;
		overflow-y: auto;
		width: 100%;
		color: $white;

		padding: 0 9%;

		& > p {
			padding: 80px 10px 0 10px;
			margin: 0;

			& + p {
				margin-top: 10px;
			}

			& + .item-list {
				padding-top: 0;
				li {
					padding-top: 20px !important;
				}
			}
		}

		.item-list {
			padding-top: 80px;

			li {
				display: table;
				padding: 10px 0;
				span {
					display: table-cell;
					width: 95%;
					padding-right: 2%;
					cursor: pointer;

					&.apply-tag {
						width: 70%;
						& + small {
							display: table-cell;
							width: 30%;
							font-size: 11px;
							font-family: $font-light;
							font-style: italic;
							text-align: right;
						}
					}
				}
				& > i.fa {
					display: inline;
					margin: 0 3px;
				}
				i {
					text-align: center;
					display: table-cell;
					color: $white;
					width: 8%;
					cursor: pointer;

					&.fa-check {
						color: $green;
					}

					&.fa-times {
						color: $red;
					}

					&.fa-exclamation-triangle {
						color: $bisia;
					}
					& + span {
						padding-left: 2%;
					}
				}
				&:last-child {
					border: none;
				}

				.username {
					span {
						color: $gray-bar;
					}
				}
			}

			& + .item-list {
				padding-top: 20px;
			}

			&.buttons {
				width: 100%;
				display: table;
				li {
					border: none;
					padding-top: 30px;
					display: table-cell;
					text-align: center;
					width: 50%;
				}

				button {
					padding: 10px;
					border-radius: 5px;
					border: none;
					width: 95%;
					&.green {
						background-color: $green
					}
					&.red {
						background-color: $red
					}
				}
			}

			& + .item-list {
				padding-top: 0;
			}
		}

	}

	& + #map-wrapper {
		z-index: 1000;
	}

}