.list {

	.list-wrapper {
		overflow-x: hidden;
		overflow-y: auto;

		h4 {
			font-size: 1.5em;
			margin: 20px 0 20px;
			padding: 10px;

			background-color: $white-border;
			color: $gray-row-hl;
			ellipsis();
		}

		h5 {
			font-size: 1em;
			margin: 10px 0 10px;
			padding: 12px 0;

			// background-color: $white-border;
			color: $gray-row-hl;
			text-align: center;
			ellipsis();
		}
	}

	.item-list {
		ul-list();

		li {
			li-list();
			status();
			malefemale();
			background-color: transparent;
			border-bottom: 1px solid $white-border;
			padding: 7px 0;
			width: 100%;

			.li-wrapper {
				a-wrapper();
				position: relative;
				display: table;
				width: 100%;
				transition: transform .2s;
				label {
					font-weight: 500;
					color: $black-text;
				}

				& + small {
					font-size: 11px;
					color: $gray-row-pin;
				}

				&.places {
					.location {
						font-size: 16px;
						&::before {
							fa('\f041');
							margin-right: .5em;
						}
					}
				}

				.table-layout {
					table-layout: fixed;
				}
			}

			.action {
				height: 50px;
				display: table
				absolute: top 0 right -167px;
				transition: transform .2s;
				z-index: 2;
				vertical-align: middle;

				a, button {
					display: table-cell;
					vertical-align: middle;
					border: none;
					color: $white;
					text-align: center;
					width: 50px;
					height: inherit;
					margin-left: 1px;
					padding: 0;

					i.fa {
						font-size: 22px;
						vertical-align: middle;
						&.fa-ban {
							font-size: 43px;
						}
					}

					&.reply,
					&.vote {
						background-color: $blue;
					}
					&.trash {
						background-color: $red;
					}
					&.block {
						background-color: $gray-row;
					}
				}
			}

			&.tools-open {
				.li-wrapper {
					transform: translate3d(-60px, 0, 0);
				}

				.action {
					transform: translate3d(-93px, 0, 0);
				}
			}


			.checkbox {
				display: table-cell;
				text-align: right;
				vertical-align: middle;
				width: 35px;

				.checkround {
					checkround();
					float: right;
				}

				a.button {
					undecorate();
					.fa-circle { color: $blue; }
				}

				a.btn-round {
					button-round(35px);
					background-color: $blue;
					i {
						font-size: 18px;
					}
				}
			}

			.avatar-wrapper {
				width: 45px;
				display: table-cell;
				vertical-align: top;

				.avatar {
					avatar(45px, 2px);
				}
			}

			.right-aligned {
				display: table-cell;
				text-align: center;
				vertical-align: middle;

				width: 30px;
				font-size: 22px;
				color: $gray-bar;

				&.quick-action {
					button {
						padding: 0 5px;
						margin: 0;
						border: none;
						color: $gray-bar;
						background-color: transparent;
					}
				}
			}

			.title-wrapper,
			.username {
				username(14px);
				position: relative;
				width: 100%;
				// ellipsis();

				small {
					color: $gray-row-pin;
				}

				span {
					font-size: 10px;
				}

				.message {

				}

				.count {
					badge($red);
					absolute: left -20px bottom 0;
					z-index: 5;
				}

				&.text {
					p {
						margin: 0;
						font-family: $font-book;
						font-size: 13px;
						color: $gray-row-pin;

						strong, cite {
							font-family: $font-semibold;
							font-weight: normal;
							color: lighten($gray-row-hl, 25%);
						}

					}

					span {
						absolute: top 0 right 0;
						color: $gray-bar;
					}
				}

				&.location {
					font-size: 12px;
					small {
						color: $gray-bar;
						float: right;
						font-size: 10px;
					}
					& .location {
						font-size: 14px;
					}
				}
			}

			.description {
				position: relative;
				width: 100%;

				big {
					username(14px);
				}

				small {
					absolute: top 0 right 0;
					font-size: 10px;
				}
			}

			.age {
				font-size: 14px;
				ellipsis();

				&.with-small {
					color: $gray-row;
					font-family: $font-semibold;
					small {
						margin-left: 2px;
						color: $gray-bar;
					}
				}
			}
		}

	}

	// BOTTOM

	.gotopmore {
		bottom-bar();

		button {
			&.load-more {
				width: 80%;
				background-color: $gray-row;
				i {
					margin-right: 5px;
				}

				& + button {
					width: 20%;
				}
			}
			&.go-top {
				background-color: $gray-row-hl;
			}
		}
	}

	&.bottom-show {
		/*.item-list {
			padding-bottom: 40px;
		}*/
		.chat .item-list {
			padding-bottom: 115px;
		}

		.reply-form {
			transform: translate3d(0, -40px, 0);
		}
		.gotopmore {
			opacity: .9 !important;
			transform: translate3d(0, 0, 0);
		}
		&#homepage {
			.item-list,
			.posts {
				padding-bottom: 0 !important;
			}
			padding-bottom: 40px;
		}
	}
}

.events {
	h3 {
		color: $gray-row-hl;
		text-transform: uppercase;
		margin: 10px 0;
		& + .li-wrapper {
			margin-top: 15px;
		}
	}

	.li-wrapper {
		margin-top: 10px;
		&:last-child {
			margin-bottom: 10px;
		}
	}

	a {
		undecorate();
		color: $gray-row-hl;
	}

	.time-wrapper {
		display: table-cell;
		width: 60px;

		text-align: center;
		vertical-align: top;

		span {
			display: block;
			color: $gray-bar;
			font-family: $font-semibold;
			font-size: 16px;
			border-radius: 5px;
			border: 5px solid $gray-bar;
			padding: 3px 0 0 0;
		}
	}

	.title-wrapper {
		display: table-cell;
		padding-left: 10px;
		width: calc(100% - 60px);
		span {
			padding-top: 2px;
			font-size: 11px !important;
		}

	}
}