.md-modal {
	// fixed: left 0 top 0 right 0;
	absolute: left 0 top 0 right 0; // ie
	transition: transform .25s;
	transition-timing-function: cubic-bezier(0.1, 0.5, 0.1, 1);
	background-color: transparent;
	height: 100%;
	margin: 0 auto;
	z-index: 10;

	.content {
		position: relative;
	}

	.buttons-toppad {
		& + .content {
			padding-top: $navbar-height + 40px;
		}
	}

	h4 {
		font-family: $font-semibold;
		text-align: left;
		font-size: 18px;
		margin-top: 10px;
		padding: 10px;

		background-color: $white-border;
		color: $gray-row-hl;
	}

	h6 {
		font-family: $font-semibold;
		text-align: left;
		font-size: 14px;
		margin: 0 0 20px 0;
		padding: 5px 10px;

		background-color: $white-border;
		color: $gray-row-hl;
		text-transform: capitalize;
	}

	.divider {
		divider(10%);
		font-family: $font-semibold;
		font-weight: 14px;
		text-transform: uppercase;
	}

	&.top {
		transform: translate3d(0, -100%, 0);
		.navbar-btn:first-of-type::after {
			navbar-modal('\f077');
		}
	}

	&.bottom {
		transform: translate3d(0, 100%, 0);
		.navbar-btn:first-of-type::after {
			navbar-modal('\f078');
		}
	}

	&.left {
		transform: translate3d(-100%, 0, 0);
		.navbar-btn:first-of-type::after {
			navbar-modal('\f053');
		}
	}

	&.right {
		transform: translate3d(100%, 0, 0);
		.navbar-btn:first-of-type::after {
			navbar-modal('\f054');
		}
	}

	& > .container-fluid {
		padding-top: 50px;
		padding-bottom: 20px;
		overflow-y: auto;
		height: 100%;
	}

	label {
		margin: 0;
	}

	&.md-open {
		transform: translate3d(0, 0, 0);
		// opacity: 1;
	}

	#map-wrapper {
		height: 230px;
		absolute: top 0 right 0 left 0;
		border-bottom: 1px solid $gray-row;
		z-index: 1;

		& + #form-map-position {
			padding-top: 230px;
		}
	}

}


// Style modal just on logged pages
.logged.show-desktop-full {
	.md-modal {
		// min-width: 768px
		@media (min-width: $screen-sm-min) {
			padding-left: $sidebar-width; // ie
			.bar-modal {
				left: $sidebar-width;
				width: calc(100% - 260px);
			}
			.buttons-toppad {
				// width: calc(100% - 260px) !important;
			}
		}

		// min-width: 1280px
		@media (min-width: $screen-lg-min) {
			padding-right: $sidebar-width;
			.bar-modal {
				right: $sidebar-width;
				width: calc(100% - 520px);
			}
			.buttons-toppad {
				// width: calc(100% - 520px) !important;
			}
		}
	}
}