.online-users {
	height: 100%;

	header {
		position: relative;
		padding: 9px 10px 9px 10px;
		overflow: hidden;
		display: table;
		white-space: nowrap;

		.counter {
			display: table-cell;
			counter();
			&.users {
				display: inline-block;
			}
		}

		.noty {
			noty-button();
			display: table-cell;
			height: 31px;
		}

		form {
			display: table-cell;
			padding-left: 10px;
			input {
				input-search();
				width: 100%;
			}
		}

	}

	.users-list {
		scrollable(50px);

		ul {
			ul-list();

			li {
				li-list(2px, 5px 5px 5px 10px);
				// status();
				status-border();
				malefemale();
				a-wrapper();
				transition: transform .2s;

				/*img {
					image-avatar();
				}*/

				/*.avatar {
					avatar();
				}*/

				.image-wrapper {
					image-wrapper();
				}

				.username {
					username(10px, 5px);
				}

				.action {
					display: table
					absolute: top 0 right -126px;
					transition: transform .2s;
					opacity: .9;
					z-index: 2;

					a, button {
						display: table-cell;
						border: none;
						color: $white;
						text-align: center;
						line-height: 50px;
						height: 50px;
						width: 40px;
						margin-left: 1px;
						padding: 0;

						i.fa {
							font-size: 22px;
							vertical-align: middle;
						}

						&.envelope {
							background-color: $red;
						}
						&.thumb {
							background-color: $blue;
						}
						&.user {
							background-color: $bisiad;
						}
					}
				}

				&.tools-open {
					transform: translate3d(-50px, 0, 0);

					.action {
						transform: translate3d(-76px, 0, 0);
					}
				}
			}
		}

	}
}