#poker {

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: table;
		width: 100%;

		li {
			display: table-cell;
		}
	}

	#deck {
		background-color: $white;
		border-top: 1px solid $white-border;
		border-bottom: 1px solid $white-border;
		padding: 15px 15px;

		h5 {
			font-size: 16px;
			font-family: $font-semibold;
			text-align: center;
		}

		ul.stats {
			padding-bottom: 20px;
			text-transform: uppercase;

			li {
				font-size: 10px;
				font-family: $font-semibold;
				color: $gray-row-pin;
				width: 25%;

				&:nth-child(3),
				&:nth-child(4) {
					text-align: right;
				}

				span {
					color: $red;
				}
				&:last-of-type {
					text-align: right;
				}
			}
		}

		ul.cards {

			li {

				div.card {
					position: relative;
					transform-style: preserve-3d;
					transition: transform .2s;

					img {
						cursor: pointer;
						width: 100%;
						height: auto;
						padding-right: 5%;
						display: block;
						backface-visibility: hidden;

						&:nth-child(2) {
							absolute: top 0 left 0;
						}
					}

					.front { transform: rotateY( 180deg ); }
					.back {	 }

					&.open {
						transform: rotateY( 180deg );
					}
				}
			}

			& + h5 {
				padding-top: 15px;
				strong {
					color: $red;
					text-transform: uppercase;
				}
			}
		}
	}

	#bet {
		padding: 5px 15px;

		#inputs {
			display: none;
		}

		h6 {
			font-family: $font-semibold;
			display: inline-block;
			width: 71%;
			strong {
				color: $red;
			}
		}

		ul {
			margin-top: -15px;

			li {
				width: 18%;
				text-align: left;
				vertical-align: bottom;

				&:last-of-type {
					width: 40%;
					padding-left: 10px;
					font-family: $font-semibold;
					text-align: right;
				}

				button,
				input[type=submit] {
					width: 95%;
					border: none;
					border-radius: 4px;
					background-color: $gray-row-pin;
					font-family: $font-semibold;
					color: $white;
					padding-top: 5px;
					padding-bottom: 5px;
					text-transform: capitalize;

					&.selected {
						background-color: $bisiad;
						color: $gray-row;
					}

					&#play {
						width: 100%;
						height: 60px;
						background-color: $green;
						font-size: 18px;

						&:disabled {
							background-color: $gray-bar;
						}

						&[value=gioca] {
							background-color: $red;
						}
					}
				}
			}
		}

		.button-bet {

			& > input:disabled + label {
				background-color: $gray-bar;
				cursor: default;
			}

			label {
				cursor: pointer;
				width: 95%;
				border: none;
				border-radius: 4px;
				background-color: $gray-row-pin;
				font-family: $font-semibold;
				text-align: center;
				color: $white;
				padding: 10px 0;
				margin: 0;

				&:after {
					content: attr(data-value);
				}
			}

			input[type=radio] {
				display: none;

				&:checked + label {
					background-color: $bisiad;
					color: $gray-row;
				}

				&:checked + label:after {
					opacity: 1;
				}
			}
		}
	}
}

li.ranking {
	text-align: center;
	border-bottom: none !important;
	margin-top: 10px;

	background-color: $white-border !important;
	color: $gray-row-hl;
	font-family: $font-book;
	font-size: 1.3em;
}