.posts {

	// min-height: 70px;

	article {
		a {
			undecorate();
		}

		padding: 15px;
		margin: 15px 0;
		background-color: $white;
		border: 1px solid $white-border;
		border-radius: 5px;

		header {
			position: relative;
			padding-bottom: 10px;
			border-bottom: 1px solid $white-border;

			h5 {
				font-family: $font-semibold;
				color: $gray-row-hl;
				line-height: 20px;
				margin: 0;
			}

			& + p.location {
				margin: 15px 0;

				& + p,
				& + img {
					margin-top: 0;
					padding-top: 0;
				}
			}

			&.article {
				status();
				malefemale();
				a-wrapper();

				a {
					display: table;
					width: 100%;
					undecorate();
				}

				.avatar-wrapper {
					display: table-cell;
					width: 45px;
					.avatar {
						avatar(45px, 2px);
					}
				}

				.username {
					username(14px);
					display: table-cell;
					vertical-align: top;
					width: calc(100% - 45px);

					h5 { color: $gray-row-hl; }
					span.time {
						float: right;
						display: inline-block;
						padding-left: 10px;
						timestamp(0px, 0px);
					}
				}
			}
		}

		footer {
			position: relative;
			padding-top: 10px;
			border-bottom: 1px solid $white-border;

			span {
				color: $gray-text;
				background-color: $white;
			}
			span.time {
				absolute: bottom -7px left 0;
				padding-right: 10px;
				timestamp(0px, 5px);

				&.actions {
					cursor: pointer;
					&::before {
						fa('\f013');
						color: $gray-row-pin;
						margin-right: .5em;
					}
					&.future {
						color: $red;
						&::before {
							color: $red;
						}
					}
				}

			}
			span.counter {
				absolute: bottom -9px right 0;
				padding-left: 10px;
				font-family: $font-book;
				font-size: 13px;

				button {
					border: none;
					margin-left: 10px;
					padding: 0;
					background-color: transparent;
					&:first-of-type {
						margin-left: 0;
					}

					&.me-too {
						color: $gray-row-pin;
					}

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						&:hover {
							cursor: pointer;
							color: $gray-row-pin;
						}
					}

					big {
						font-family: $font-semibold;
						font-size: 12px;
						padding-left: 4px;
					}
				}

				i {
					font-size: 15px;
				}

			}
		}

		p {
			padding: 15px 10px;
			margin: 0;
			margin-top: 0 !important;
			color: $gray-row-hl;

			&.location {
				color: $white;
				font-family: $font-semibold;
				font-size: 10px;
				background-color: lighten($gray-row-hl, 25%);
				margin-bottom: 10px;
				padding: 5px 10px;
				cursor: help;
				border-radius: 5px;
				padding-left: 30px;
				&::before {
					fa('\f041');
					color: $bisia;
					font-size: 16px;
					padding-right: 10px;
					vertical-align: middle
					margin-left: -20px;
				}

				& + .thumb {
					margin-bottom: 20px;
				}
			}
		}

		.buttons-post {
			padding: 0;
		}

		.buttons,
		.buttons-post {
			display: table;
			width: 100%;

			button {
				display: table-cell;
				border: none;
				background-color: $white-bg;
				color: $gray-row-pin;
				font-size: 12px;
				width: 25%;
				height: 43px;

				&:hover,
				&.me-too {
					background-color: darken($white-bg, 5%);
					// color: $white-bg;
				}

				&:nth-child(2) {
					border-left: 1px solid $white;
				}

				&:nth-child(3) {
					width: 35%;
					border-left: 1px solid $white;
				}

				&:nth-child(4) {
					width: 15%;
					border-left: 1px solid $white;
					i {
						margin: 0;
					}
				}


				i {
					font-size: 16px;
					margin-right: 5px;
				}
			}

		}

		.comment {
			padding: 20px 0 10px 0;

			form {
				width: 100%;
				margin: 0;
				padding: 0;
				background-color: $white;

				textarea {
					border: 0;
					padding: 5px 15px;
					margin: 0;
					font-size: 12px;
					color: $gray-row-hl;
					background-color: $white;
					width: 85%;
					height: 27px;
					min-height: 27px;
					resize: none;
					overflow-x: hidden;
				}

				button {
					border: none;
					float: right;
					width: 14%;
					line-height: 22px;
					margin: 0;
					background-color: transparent;
					color: $gray-row-pin;

					/*&:hover {
						background-color: darken($white-bg, 5%);
					}*/
				}
			}
		}

		.comments-list {
			ul-list();
			padding-top: 5px;

			li {
				status();
				malefemale();
				undecorate();
				a-wrapper();
				border-bottom: 1px solid $white-border;
				padding: 10px 0;

				&:first-of-type {
					// padding-top: 0;
					// border: none;
				}

				a {
					width: 100%;
					display: table;
					undecorate();
				}

				.avatar-wrapper {
					display: table-cell;
					width: 35px;
					.avatar {
						avatar(35px, 2px);
					}
				}

				p {
					margin-left: 45px;
					margin-top: -15px;
					color: $gray-row-hl;
					font-family: $font-book;
					font-size: 12px;
					padding: 0;
				}

				.username {
					username(14px);
					display: table-cell;
					vertical-align: top;

					span.time {
						float: right;
						display: inline-block;
						padding-left: 10px;
						timestamp(0px, 0px);
					}
				}
			}
		}
	}
}