<template name="base">
	<div class="wrapper {{addDevice}} {{showLayoutVersion}} {{isLogged}}">
		<div class="body-wrapper {{isLogged}}">
			{{> yield}}
		</div>

		{{> modalWrapper}}

		{{#if currentUser}}
			{{> sidebarMenu}}
			{{> sidebarUsers}}
			{{> overlayWrapper}}
		{{else}}
			{{> infoWrapper}}
			<div class="md-overlay"></div>
		{{/if}}
	</div>
	{{> device}}
</template>

<template name="device">
	{{#if isDesktop}}
	<div class="device {{addDevice}} {{showLayoutVersion}}"></div>
	{{> deviceSwitcher}}
	{{/if}}
</template>

<template name="deviceSwitcher">
	<div class="device-switcher">

		<button data-device="desktop-full">
			<i class="fa fa-desktop"></i>
		</button>

		<button data-device="phone-v">
			<i class="fa fa-mobile"></i>
		</button>

		<button data-device="tablet-v">
			<i class="fa fa-tablet"></i>
		</button>

		<button data-device="phone-h">
			<i class="fa fa-mobile fa-rotate-270"></i>
		</button>

		<button data-device="tablet-h">
			<i class="fa fa-tablet fa-rotate-270"></i>
		</button>

	</div>
</template>

<template name="modalWrapper">
	{{#if hasModal}}
		{{#with hasModal}}
			{{> Template.dynamic template=template data=data}}
		{{/with}}
	{{/if}}
</template>