<template name="base">
	<div class="wrapper {{addDevice}}{{addMobile 'mobile'}} show-phone-v">
		<div class="body-wrapper {{isLogged}}">
			{{> yield}}
		</div>

		{{> modalWrapper}}

		{{#if currentUser}}
			{{> sidebarMenu}}
			{{> sidebarUsers}}
			{{> overlayWrapper}}
		{{else}}
			{{> infoWrapper}}
			<div class="md-overlay"></div>
		{{/if}}
	</div>
	{{> device}}
</template>

<template name="device">
	<div class="device {{addDevice}} show-phone-v"></div>
	{{#if isDesktop}}
	<div class="device-switcher">
		<p>
			Prova Bisia su smartphone o tablet
			<i class="fa fa-arrow-right"></i>
		</p>

		<button data-device="phone-v">
			<i class="fa fa-mobile"></i>
		</button>

		<button data-device="tablet-v">
			<i class="fa fa-tablet"></i>
		</button>

		<button data-device="phone-h">
			<i class="fa fa-mobile fa-rotate-270"></i>
		</button>

		<button data-device="tablet-h">
			<i class="fa fa-tablet fa-rotate-270"></i>
		</button>

	</div>
	{{/if}}
</template>

<template name="modalWrapper">
	{{#if hasModal}}
		{{#with hasModal}}
			{{> Template.dynamic template=template data=data}}
		{{/with}}
	{{/if}}
</template>